/* Common CSS Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
}
ol, ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.element_center{
    justify-content: center;
}
.section_info{
    text-align: center;
}
.section_info h2{
    font-size: 45px;
    line-height: 55px;
    color: #121212;
    margin-bottom: 20px;
}
.section_info p{
    font-size: 18px;
    line-height: 28px;
    width: 690px;
    color: #707070;
}
/* //Common CSS End */

/* Banner Section CSS Start */
#banner{
    height: 660px;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(../images/banner_bg.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
}
#banner .container{
    height: 100%;
}
#banner .row{
    height: 100%;
    justify-content: center;
    align-items: center;
}
#banner .banner_content h1{
    font-size: 65px;
    line-height: 79px;
}
#banner .banner_content p{
    width: 690px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
}
.btn_design{
    display: inline-block;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    margin-top: 30px;
}
/* //Banner Section CSS End */

/* Donate Today Section CSS Start */
#donateToday{
    padding: 80px 0;
}
#donateToday .row{
    margin-top: 50px;
}
#donateToday .amount_container h3{
    font-size: 30px;
    text-align: center;
    padding: 45px 30px;
    margin-right: 10px;
}
.donated_amount{
    color: #FF5959;
    border: 2px solid #FF5959;
    background: linear-gradient(0deg, #FFEEEE, #FFEEEE);
    border-radius: 5px;
}
#donateToday form{
    width: 90%;
    text-align: center;
}
#donateToday input{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: none;
    border-bottom: 1px solid #DADADA;
    font-size: 18px;
    line-height: 28px;
}
/* //Donate Today Section CSS End */

/* Donate Plan Section CSS Start */
#donatePlan{
    padding-bottom: 60px;
}
#donatePlan .donatePlan_item_wrapper{
    margin-top: 50px;
}
#donatePlan .donatePlan_item{
    width: 32%;
    padding: 50px 20px;
    margin-right: 15px;
    border-radius: 5px;
}
#donatePlan .donatePlan_item h4{
    margin: 16px 0;
}
.food{
    background: #4F9DA61A;
}
.family{
    background: #FF59591A;

}
.education{
    background: #FFF4D6;
}
/* //Donate Plan Section CSS End */

/* Footer Section CSS Start */
footer{
    text-align: center;
    background-color: #0B0D17;
    padding: 40px 0;
}
footer p{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FF5959;

}
footer small{
    color: #D9DBE1;
}
/* //Footer Section CSS End */